<div class="card-column">
  <div class="card">
    <div class="logo-box">
      <img [ngClass]="getlogoClass()" [src]="stockData.logo">
    </div>

    <div class="current-value">
      <label>Current value</label>
      <div class="value">{{stockData.marketCapital}}</div>
    </div>

    <div class="content">

      <div class="field">
        <label>Market capital</label>
        <div class="value">{{stockData.marketCapital}}</div>
      </div>

      <div class="field">
        <label>Max value</label>
        <div class="value">{{stockData.marketCapital}}</div>
      </div>

      <div class="field">
        <label>Min value</label>
        <div class="value">{{stockData.marketCapital}}</div>
      </div>

      <div class="field">
        <label>Open value</label>
        <div class="value">{{stockData.marketCapital}}</div>
      </div>

    </div>
  </div>
</div>