<div class="background">
  <div class="value max">80</div>

  <div class="value min">20</div>

  <div class="cards">
    <stock-card *ngFor="let stockData of stockDataList" [stockData]="stockData"></stock-card>

    <!--
    <div class="card-column">
      <div class="card">
        <img class="logo apple" src="assets/apple.png">
      </div>
    </div>

    <div class="card-column">
      <div class="card">
        <img class="logo" src="assets/amazon.jpg">
      </div>
    </div>

    <div class="card-column">
      <div class="card">
        <img class="logo no-round" src="assets/microsoft.jpg">
      </div>
    </div>

    <div class="card-column">
      <div class="card">
        <img class="logo no-round" src="assets/facebook.png">
      </div>
    </div>
  </div>
  -->
</div>